<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Lyft</title>
  </head>
  <body>
    <!-- Encabezado -->
    <header class="col-7 offset-5">
      <img src="../assets/images/logo-white.png"  width="60" heigth="60" alt="">
    </header>
    <!-- Seccion de signup -->
    <section class="" id="view-2">
      <div class="offset-1">
          <img src="../assets/images/logo-pink.png"  width="200" heigth="200" alt="">
          <img class="offset-4 bottom-m" src="../assets/images/logo-pink.png"  width="200" heigth="200" alt="">
      </div>
    </section>
    <section>
      <div class="offset-3 log-in">
        <button type="button" class="btn">LOG IN</button>
      </div>
      <div class="offset-6">
        <button type="button" class="btn">SINGP UP</button>
      </div>
    </section>



    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../js/prewlyft.js"></script>
    <script src="../js/data.js"></script>
    <script src="../js/bootstrap.min.js"></script>
